$primary-color: #5b71cf;
$secondary-color: gainsboro;
$tertiary-color: white;
$quaternary-color: darkgray;

$header-color: $primary-color;
$header-text-color: white;
$header-link-text-color: white;
$footer-color: $primary-color;
$footer-text-color: white;
$footer-link-text-color: cornflowerblue;

$background-color: $tertiary-color;
$section-color: $secondary-color;
$section-border-color: $quaternary-color;
$star-empty-color: lightgray;
$star-solid-color: #f8ce0b;
$error-color: red;
$input-color: $secondary-color;
$button-color: $primary-color;
$button-text-color: white;
$button-active-color: $primary-color;
$button-inactive-color: $secondary-color;

$gradient-top: silver; //#c0c0c0
// $shadow-color: #737373;
$shadow-color: rgba(115, 115, 115, 0.5);

$break1: 900px;
$break2: 800px;
$break3: 700px;
$break4: 600px;
$break5: 500px;
