// Page Styling
@import "./_pageStyling";

.pageWrapper {
  height: 100%;

  .contentWrapper {
    height: 100%;
    margin: 20px 30px;
    padding-bottom: 30px;
    background-color: $background-color;
  }
  .startText {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-bottom: 30px;
  }

  @media only screen and (max-width: $break3) {
    .contentWrapper {
      margin: 0px;
      padding-bottom: 15px;
      background-color: white;
    }
  }
}
