.nav_container {
    display: flex;
    padding: 15px 30px 0 30px;
    font-weight: bold;
    color: gainsboro;

    .nav_item {
        text-decoration: none;
    }
    .nav_spacer {
        padding: 0 15px;
    }

    .nav_link {
        color: gainsboro;
        text-decoration: none;
        &:link, &:visited {
            color: gainsboro;
        }
        &:hover, &:active {
            color: white;
        }
    }
}
